* {
  font-family: "Barlow", Arial, sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 1%;
  max-height: 8vh;
  background-color: #000000;
}
header a {
  color: #ffffff;
}

a:hover {
  cursor: pointer;
  transform: scale(1.05);
  cursor: pointer;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav #nav-logo {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav .nav-links {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

p {
  font-size: 12px;
}

h1 {
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: #f58146;
}

.MuiButton-contained {
  text-transform: initial !important;
  border-radius: 0 !important;
}

.home-section .home-row .swiper-slide {
  width: 347px !important;
  padding-left: 5% !important;
}

.bttn-style-purple {
  border: 2px solid #7759a6;
  padding: 12px 25px;
  font-weight: bold;
  color: #ffffff;
}

.bttn-style-orange {
  border: 2px solid #f58146;
  background-color: #f58146;
  padding: 12px 25px;
  font-weight: bold;
  color: #000000;
}

#mobile-menu {
  display: none;
}

.close-icon-btn {
  font-size: 4.5em;
  position: absolute;
}

#gigney-menu-logo {
  width: 50%;
}
#gigney-menu-logo img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#loggedin-links-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}

#loggedout-bttns-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  width: 100%;
}

.mobile-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  overflow: hidden;
  color: #ffffff;
  padding: 5% 0 3% 0;
}
.mobile-menu-box h1 {
  font-size: 3em;
}

.find-event-header {
  width: 90%;
  max-height: 30vw;
  text-align: center;
  background-image: url("https://gigney.s3.ap-southeast-2.amazonaws.com/frontend/Homepage-background.jpeg");
  padding: 3% 5%;
  background-size: cover;
  background-repeat: no-repeat;
}

.find-event-header-text {
  color: #ffffff;
  font-size: 70px !important;
  font-weight: 700;
}

.find-event-tags {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  font-weight: 600;
  font-size: 14px;
}

#search-form-submit-btn {
  color: #000000;
  background-color: #f58146;
  width: 10%;
}

.find-event-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  margin: auto;
  text-align: center;
  max-width: 85%;
  gap: 0.4%;
}

.find-event-search .MuiOutlinedInput-input {
  width: 100%;
}

#location-field-search {
  width: 25%;
}

#date-field-search {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
#date-field-search .date-picker {
  width: 48.5%;
}

#events-txt-field {
  width: 25%;
}

.login-page {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 5%;
}
.right .login-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0;
}
.right .login-logo img {
  width: 30%;
}
.right .login-logo h1 {
  font-size: 3em;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  gap: 2%;
  height: 18em;
  width: 34vw;
}
.login-form p {
  font-size: 1em;
  margin-bottom: 0;
}

.left-img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.forgot-btn {
  text-decoration: underline;
  text-align: center;
  color: #f58146;
  font-weight: bold;
}

.label {
  font-weight: bold;
  font-size: larger;
}

#login-btn {
  background-color: #f58146;
  margin: 4% 0;
  color: #000000;
}

.signup {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
}

.signup-left,
.signup-right {
  width: 50%;
  height: 100%;
}

.signup-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 12%;
  padding: 5% 0 0 0;
}
.signup-left .signup-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.signup-left .signup-logo img {
  width: 30%;
}
.signup-left h1 {
  font-size: 3em;
}

#demo-simple-select-label {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.signup-right {
  width: 50%;
}
.signup-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.signup-next-button {
  margin: auto;
  text-align: center;
  width: 100%;
}

#next-button {
  width: 60%;
  height: 3em;
  color: #000000;
  background-color: #f58146;
  font-size: 1.1em;
}

.signup-form {
  height: 50%;
  width: 34vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup-form label {
  font-size: 1.1em;
}

.l-o-2 {
  display: none;
}

.dropdown-icon {
  margin-right: 2%;
}

.login-divert {
  text-decoration: underline;
  color: #f58146;
  font-weight: bold;
}

#demo-simple-select {
  background-color: #7759a6;
}

#demo-simple-select-label {
  color: #ffffff;
}

.mobile-signup-logo,
.mobile-login-logo {
  display: none;
}

.signup-second-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 110vh;
  gap: 10%;
  padding: 5% 0 0 0;
}

.signup-second-page-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.signup-second-page-logo img {
  width: 30vh;
}
.signup-second-page-logo h1 {
  margin: 2% 0 0 0;
  font-size: 3em;
}

.signup-second-page-form {
  width: 90%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.signup-second-page-form label {
  font-size: 1.1em;
}
.signup-second-page-form p {
  font-size: 1em;
}

.signup-submit {
  width: 90%;
}

.login-link,
.link-organizer {
  text-align: center;
  width: 100%;
}
.login-link a,
.link-organizer a {
  text-decoration: underline;
  color: #f58146;
  font-weight: bold;
  margin: 0 0.5%;
}

.organiser {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.link-organizer {
  padding-top: 6%;
}

footer {
  padding: 2% 1%;
  background-color: #000000;
  bottom: 0;
  left: 0;
  right: 0;
  width: 98%;
  text-align: center;
  color: #ffffff;
}

#footer-tou {
  text-decoration: underline;
}

#footer-privpol {
  text-decoration: underline;
}

.search-results-grid {
  min-height: 90vh;
  display: grid;
  grid-template-areas: "filters results";
  grid-template-columns: 35% 65%;
}
.search-results-grid .search-filters {
  grid-area: filters;
  margin: 2em;
}
.search-results-grid .search-filters .filter-box {
  display: flex;
  flex-direction: column;
  justify-content: justify-content;
  align-items: left;
  height: 100%;
  width: 100%;
  padding: 5%;
  background-color: #ffffff;
}
.search-results-grid .search-filters .filter-box div {
  padding: 1%;
}
.search-results-grid .search-results {
  grid-area: results;
  margin: 2em;
}
.search-results-grid #price-select-box {
  width: 95%;
  padding: 5%;
  margin: 5% 0 0 -2%;
  background-color: #e6e2e2;
}
.search-results-grid .search-filters-top {
  width: 90%;
  padding: 3%;
  background-color: #ffffff;
}
.search-results-grid .events-result {
  height: 91%;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2%;
  padding: 4% 0;
}
.search-results-grid #view-more-tags {
  margin: 2%;
}
.search-results-grid .back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
  /* Hide by default and only show after a certain scroll threshold */
  opacity: 0;
  visibility: hidden;
}
.search-results-grid .back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}
.search-results-grid .back-to-top-btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.profile-container {
  min-height: 1000px;
  max-height: 2500px;
  display: grid;
  grid-template-areas: "head head" "bio events" "account events";
  grid-template-rows: 100px fit-content(300px) fit-content(400px);
  grid-template-columns: 30% 70%;
  background-color: #e6e2e2;
}
.profile-container #save-pwd-btn {
  background-color: #f58146;
  margin: 10% 0 0 0;
}
.profile-container h2 {
  font-size: 1.8em;
}
.profile-container h3 {
  font-size: 1.5em;
}
.profile-container .profile-banner {
  grid-area: head;
  background-color: #4d7bbe;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #4d7bbe 23%, #ef7f4e 100%);
}
.profile-container .profile-banner h1 {
  color: #ffffff;
  font-size: 2em;
}
.profile-container .personal-bio {
  grid-area: bio;
  margin: 2em;
}
.profile-container .account-settings {
  grid-area: account;
  margin: 2em;
}
.profile-container .saved-events {
  grid-area: events;
  margin: 2em;
}
.profile-container .saved-events #saved-events-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile-container h1 {
  margin-left: 0;
  margin-bottom: 2%;
}
.profile-container .profile-box {
  padding: 5%;
  position: relative;
  background-color: #ffffff;
}
.profile-container .prof-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile-container .prof-center p {
  text-align: center;
}
.profile-container .prof-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}
.profile-container .prof-left #delete-account-profile {
  margin-top: 20%;
}
.profile-container .profile-avatar {
  height: 20vw;
  width: 20vw;
  background-color: #4d7bbe;
  font-size: 9vw;
  font-weight: bold;
}
.profile-container .edit-note {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
.profile-container .edit-note:hover {
  transform: scale(1.1);
}
.profile-container .events-profile {
  height: 100%;
  width: 100%;
}
.profile-container #event-drafts {
  min-height: 200px;
  max-height: fit-content;
  width: 100%;
}
.profile-container .draft-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  margin-bottom: 2%;
}
.profile-container .draft-card div {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4%;
}

.delete-event-modal,
.update-profile-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1%;
  background-color: #ffffff !important;
  border: solid 2px #dfdfdf;
}

.delete-event-modal {
  width: 60vw;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.delete-event-modal div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#confirmation-modal {
  background-color: #ffffff;
}

.update-profile-modal {
  width: 75vw;
  height: fit-content;
  min-height: 500px;
}
.update-profile-modal h1 {
  padding: 1% 3%;
}
.update-profile-modal .MuiGrid-root {
  padding: 1% 3%;
  text-align: left;
}
.update-profile-modal #update-profile-btns {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
  margin-bottom: 2%;
}
.update-profile-modal #update-profile-remove-pic {
  font-size: 18px;
  font-weight: 500;
}
.update-profile-modal #update-profile-img-title {
  margin-top: 30px;
  margin-bottom: -1%;
}
.update-profile-modal #avatar-row {
  margin-top: 1%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8%;
}
.update-profile-modal #avatar-row p {
  font-size: 16px;
}
.update-profile-modal #avatar-row #edit-avatar {
  background-color: #4d7bbe;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.home-section {
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

.card-name {
  font-size: 22px;
  font-weight: 700;
}

.card-date {
  font-weight: 500;
}

.css-1oe4rwd-MuiSvgIcon-root {
  color: #4b7cbe;
  margin-bottom: -3px;
}

.css-o69gx8-MuiCardMedia-root {
  width: 360px !important;
  height: 223px !important;
}

#search-event-form > div.find-event-search > span > button {
  background-color: #f58146;
}

.search-form-els {
  height: 54px;
  background-color: #ffffff;
}

#events-txt-field {
  min-width: 27vw;
}

.home-row {
  padding: 15px;
}

.swiper {
  padding: 4% 0 0 0 !important;
  margin-left: -5% !important;
  margin-top: -3% !important;
  width: 106% !important;
  max-width: 106% !important;
}

.swiper-button-prev {
  left: 86% !important;
  right: 0 !important;
  top: 5% !important;
  padding: 8px 16px;
  border-radius: 50% !important;
  border: 2px solid #5b5be6;
  height: 25px !important;
  width: 10px !important;
}

.swiper-button-next {
  left: 90% !important;
  right: 0 !important;
  top: 5% !important;
  padding: 8px 16px;
  border-radius: 50% !important;
  border: 2px solid #5b5be6;
  height: 25px !important;
  width: 10px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px !important;
  color: #5b5be6 !important;
}

.event-card {
  width: 350px;
  height: 400px;
  position: relative;
  margin: 2%;
}

#card-name-link {
  text-decoration: none;
}

.card-icon:hover,
.card-icon-selected:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-icon,
.card-icon-selected {
  padding: 2%;
  border-radius: 50%;
  text-align: center;
  position: absolute;
}

.card-icon {
  background-color: #f58146;
  color: #ffffff;
  width: 23px;
  height: 23px;
}

.card-icon-selected {
  background-color: #ffffff;
  color: #f58146;
  border: solid 3px #f58146;
  width: 21.5px;
  height: 21.5px;
}

#ev-share {
  top: 51.5%;
  right: 20%;
}

#ev-bookmark {
  top: 51.5%;
  right: 5%;
}

#ev-bookmark-selected {
  top: 51%;
  right: 5%;
}

#bookmark-show {
  display: initial;
}

#bookmark-hide {
  display: none;
}

.horizontal-card-box {
  width: 130%;
  position: relative;
  padding-left: 3%;
}

.horizontal-card {
  position: relative;
  width: 80%;
  height: 220px;
  min-height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
  margin-bottom: 3%;
}
.horizontal-card .MuiCardMedia-root {
  width: 45% !important;
  min-width: 45%;
  height: 100% !important;
}

.ev-share-h {
  bottom: 10%;
  right: 5%;
}

.ev-bookmark-h {
  bottom: 10%;
  right: 20%;
}

.ev-menu-h {
  bottom: 14.5%;
  right: 5%;
  position: absolute;
  width: 23px;
  height: 23px;
  padding: 2%;
}

.ev-menu-h:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.ev-share-h-2 {
  bottom: 10%;
  right: 15%;
}

#create-event-main {
  background-color: #f5f5f5;
  padding-bottom: 1%;
}
#create-event-main p {
  font-size: 16px;
}

.create-event-screen {
  max-width: 100%;
  min-height: 65vh;
  max-height: 1000px;
  background-color: #ffffff;
  padding: 2%;
  margin: 2%;
}
.create-event-screen h2 {
  font-size: 2em;
}

#create-ev-bttns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#create-ev-bttns div {
  width: 30%;
  gap: 5%;
}

#create-ev-bttns-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#create-ev-bttns-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

#save-cont-ev-btn,
#skip-ev-btn,
#disable-ev-btn,
#disable-ev-btn-show,
#save-publish-ev-btn,
#buy-tickets-btn {
  background-color: #f58146;
  color: #000000;
  border: solid 2px #f58146;
}

#show {
  display: initial;
}

#hide {
  display: none;
}

#save-exit-ev-btn,
#save-ex-ev-btn,
#hide,
#show {
  background-color: #ffffff;
  color: #7759a6;
  border: solid 2px #7759a6;
}

#stepper-box {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4%;
  position: relative;
}

.MuiLinearProgress-root {
  width: 100% !important;
  height: 15px !important;
  background-color: #ffffff !important;
  border: solid 1px #000000;
}

.MuiMobileStepper-root {
  padding: 0 0 0 0 !important;
}

#discard-ev-btn {
  position: relative;
  right: 2%;
  font-size: 1.2em;
  text-decoration: underline;
  color: #f58146;
}

.create-event-header {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #4d7bbe 23%, #ef7f4e 100%);
}

.create-event-header h1 {
  font-size: 3em;
  color: #ffffff;
  text-shadow: rgb(40, 39, 39) 1px 1px 4px;
}

.create-event-screen h2 {
  font-size: 3em;
}

.css-12z1287-MuiGrid-root p,
.css-1f064cs-MuiGrid-root p,
.css-1qeq9aw-MuiGrid-root p {
  font-size: 18px;
}

#create-event-description {
  font-size: 1.5em;
  padding: 13px;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  height: 50px;
}

.css-suj22h-MuiChip-root {
  font-size: 1.5rem;
  height: 30px;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 1rem;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-size: 2rem;
}

.create-event-stepper {
  padding: 2% 3% 1% 3%;
  max-width: 94%;
}

.form-label-disabled {
  color: #8e8d8d;
}

.form-label-active {
  color: #000000;
}

.add-artist-fab,
.remove-artist-fab,
.add-ticket-fab,
.remove-ticket-fab {
  width: 20px !important;
  height: 20px !important;
  min-height: 20px !important;
  background-color: #ffffff !important;
  border: solid 2px #f58146 !important;
}
.add-artist-fab .MuiSvgIcon-root,
.remove-artist-fab .MuiSvgIcon-root,
.add-ticket-fab .MuiSvgIcon-root,
.remove-ticket-fab .MuiSvgIcon-root {
  color: #f58146 !important;
}

.remove-artist-fab-disabled,
.add-artist-fab-disabled,
.add-ticket-fab-disabled,
.remove-ticket-fab-disabled {
  width: 20px !important;
  height: 20px !important;
  min-height: 20px !important;
  background-color: #e6e2e2 !important;
  border: solid 2px #8e8d8d !important;
  cursor: default !important;
}
.remove-artist-fab-disabled .MuiSvgIcon-root,
.add-artist-fab-disabled .MuiSvgIcon-root,
.add-ticket-fab-disabled .MuiSvgIcon-root,
.remove-ticket-fab-disabled .MuiSvgIcon-root {
  color: #8e8d8d !important;
}

.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 7%;
  padding-bottom: 0.2%;
}

.fab-container-tickets {
  display: flex;
  flex: row;
  justify-content: flex-end;
  gap: 1%;
}

.add-artist-fab:hover,
.remove-artist-fab:hover,
.add-ticket-fab:hover,
.remove-ticket-fab:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.create-event-location-div {
  height: 1000px;
}

.map-container {
  height: 400px;
}

.create-ev-img-box {
  width: 100%;
  height: 60vh;
  background-color: #e6e2e2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.create-ev-img-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#create-ev-img-input {
  display: none;
}

#remove-img-box {
  width: 100%;
  padding: 1.5% 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.prev-event-body {
  display: block;
  padding: 1% 2%;
}

.event-prev-card-icon-share,
.event-prev-card-icon-bookmark {
  border-radius: 50%;
  background-color: #f58146;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.event-buy-button {
  margin-right: 0px;
  margin-top: 20px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #f58146;
  color: #000000;
  font-weight: bold;
}

.event-prev-card-icon-share {
  position: absolute;
  right: 8%;
  top: 375px;
}

.event-prev-card-icon-bookmark {
  position: absolute;
  right: 4%;
  top: 465px;
}

.event-preview-screen {
  max-height: fit-content;
  height: fit-content;
  min-height: 1600px;
  padding: 2% 1%;
}

.event-preview {
  background-color: #ffffff;
  height: 90%;
  position: relative;
}

.event-main-image {
  height: 400px;
  min-height: 400px;
  width: 100%;
}
.event-main-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.event-prev-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  width: 98%;
}
.event-prev-first-row button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.event-prev-first-row h1 {
  font-size: 66px;
}

.outlined {
  border: solid 1px #e6e2e2;
  position: relative;
  margin-top: 5%;
}

.icon-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}

.horizontal-stack {
  height: 80%;
  width: 100%;
  padding: 3% 0%;
}

.prev-date-time {
  width: 40%;
  padding: 0 4%;
  font-size: 1.8em;
}

.prev-location {
  width: 60%;
  padding: 0 3%;
  font-size: 1.8em;
}

.strong-string-prev {
  font-size: 15px !important;
}

.event-prev-title {
  position: absolute;
  background-color: #ffffff;
  top: -21% !important;
  left: 4%;
  width: fit-content;
  height: fit-content;
}

.event-prev-title-2 {
  position: absolute;
  background-color: #ffffff;
  top: -22%;
  left: 3%;
  width: fit-content;
  height: fit-content;
}

.event-prev-second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  gap: 3%;
}
.event-prev-second-row .when-where-box {
  width: 68%;
  height: 100%;
}
.event-prev-second-row .organiser-box {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%;
  gap: 7%;
}

.strong-string-prev {
  font-size: 16px;
  padding-left: 11%;
  color: #f58146;
  font-weight: 500;
}

#event-avatar {
  font-size: 30px;
  height: 100px;
  width: 100px;
  background-color: #4d7bbe;
}

.event-prev-third-row {
  width: 100%;
  height: fit-content;
}

.pricing-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.event-prev-price {
  width: 25%;
  max-width: 50%;
  padding: 1% 3%;
}
.event-prev-price p {
  font-size: 15px;
  padding: 0 10%;
}

.pricing-box .horizontal-stack h2 {
  padding: 1% 5%;
}

.event-prev-fourth-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  height: 200px;
  max-height: fit-content;
  margin: 2% 0;
}
.event-prev-fourth-row p {
  font-size: 15px;
}

.create-prev-about {
  width: 75%;
  height: 100%;
  padding-right: 5%;
}

.create-prev-lineup {
  width: 25%;
  height: 100%;
}
.create-prev-lineup ul {
  margin-top: 10%;
}
.create-prev-lineup ul li {
  margin-top: 5%;
}

.event-prev-fifth-row {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.event-prev-tags div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}

.event-prev-end-bttns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2%;
  height: 100px;
}

/* CONTENT PAGES */
.content-body {
  margin: 15px;
  margin-bottom: 30px;
}

.reset-password,
.reset-pwd-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password h1 {
  font-size: 5em;
  text-align: center;
}

.reset-pwd-form {
  margin: 15px;
}

.reset-pwd-form p,
.reset-pwd-form label {
  font-size: 20px;
}

.reset-pwd-form input {
  width: 100%;
  height: 35px;
  margin: 10px;
}

#reset-btn {
  background-color: #f58146;
  border: 2px solid #000000;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
}

/* Tablet */
@media screen and (max-width: 960px) {
  /* General Styling */
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.2em;
  }
  /* Event && Event Preview */
  .event-buy-button {
    margin: 10px auto;
  }
  /* HEADER */
  nav .nav-links {
    width: 65vw;
    font-size: 0.8em;
  }
  .find-event-header {
    max-height: 40vw;
  }
  .find-event-search {
    width: 100%;
    max-width: 100%;
    padding: 0 0;
  }
  .bttn-style-orange {
    padding: 6px 8px;
  }
  .bttn-style-purple {
    padding: 6px 15px;
  }
  /*HOME PAGE*/
  .home-section .home-row .swiper-slide {
    width: 340px !important;
    padding-left: 9% !important;
  }
  /*PROFILE PAGE*/
  .profile-container {
    grid-template-areas: "head head" "bio bio" "account account" "events events";
    grid-template-rows: 100px fit-content fit-content fit-content;
    grid-template-columns: 100%;
  }
  .profile-box {
    padding: 2%;
  }
  .profile-avatar {
    height: 15vw;
    width: 15vw;
    font-size: 6vw;
  }
  .profile-banner h1 {
    font-size: 1.5em;
  }
  .profile-container h3 {
    font-size: 1em;
  }
  .css-1sx3qbl-MuiSvgIcon-root,
  .css-pnaxc6-MuiSvgIcon-root {
    font-size: 0.7em;
    padding-bottom: 2px;
  }
  /*CREATE EVENTS PAGE*/
  .create-event-header h1 {
    font-size: 2.2em;
  }
  #save-exit-ev-btn {
    width: 11em;
    height: 4em;
    text-align: center;
    font-size: 0.8em;
  }
  #save-cont-ev-btn {
    width: 13em;
    height: 4em;
    text-align: center;
    font-size: 0.8em;
  }
  #create-ev-bttns-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #create-ev-bttns div {
    width: 50%;
    gap: 5%;
  }
  #stepper-box {
    justify-content: left;
    gap: 5%;
  }
  #stepper-box h2 {
    padding-left: 10px;
  }
  .create-event-screen h2 {
    text-align: center;
  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 5em;
  }
  .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    height: 25px;
  }
  .css-suj22h-MuiChip-root {
    height: 18px;
  }
  .event-prev-tags .MuiChip-labelMedium {
    padding-left: 10px;
    padding-right: 9px;
    height: 25px;
    font-size: 1em;
    padding-top: 8px;
  }
}
/* Small Tablet */
@media screen and (max-width: 800px) {
  /* HEADER */
  header {
    padding: 3%;
  }
  nav .nav-links {
    width: 75vw;
  }
  .bttn-style-purple,
  .bttn-style-orange {
    padding: 8px 20px;
  }
  .find-event-header {
    max-height: 121vh;
  }
  .find-event-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 35vh;
    max-height: 45vh;
    padding: 4% 0;
  }
  .find-event-tags {
    min-height: 20%;
    height: 30%;
  }
  .search-form-els,
  #search-form-submit-btn {
    width: 100%;
    margin: 0;
  }
  #search-form-submit-btn {
    margin-top: 2%;
  }
  #location-field-search, #events-txt-field {
    width: 100%;
  }
  #date-field-search {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  #date-field-search .date-picker {
    width: 100%;
  }
  /*HOMEPAGE*/
  .home-section .find-event-header-text {
    margin: 0;
  }
  .find-event-search {
    max-height: 65vh;
  }
  .home-section .event-card-media {
    width: 350px !important;
    height: 167px !important;
  }
  .home-section .event-card {
    width: 299px;
    height: 311px;
  }
  .home-section .home-row .swiper-slide {
    width: 340px !important;
    padding-left: 3% !important;
  }
  .home-section .home-row #ev-share {
    top: 48.5%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: calc(var(--swiper-navigation-size) / 44 * 5);
  }
  /* SIGNUP PAGE */
  .signup {
    flex-direction: column-reverse;
    height: 100vh;
  }
  .signup-left,
  .signup-right {
    width: 100%;
  }
  .signup-right {
    min-height: 30%;
  }
  #signup-right-img {
    filter: brightness(40%);
  }
  .signup-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60%;
    height: 60%;
  }
  .signup-left .signup-logo img {
    display: none;
  }
  .signup-form {
    height: 70%;
    width: 80vw;
  }
  #next-button {
    width: 100%;
    height: 3em;
  }
  .mobile-signup-logo,
  .mobile-login-logo {
    display: block;
    position: absolute;
    width: 50%;
    top: 15%;
    left: 25%;
  }
  .mobile-signup-logo .signup-logo-img,
  .mobile-signup-logo .login-logo-img,
  .mobile-login-logo .signup-logo-img,
  .mobile-login-logo .login-logo-img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    filter: brightness(0) invert(1);
  }
  /* LOGIN */
  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100vw;
    max-height: 110vw;
    height: 95vh;
    min-height: 95vh;
  }
  .left,
  .right {
    width: 100%;
  }
  .left {
    height: 40%;
  }
  .right {
    height: 60%;
  }
  .right .login-logo img {
    display: none;
  }
  .right .login-logo h1 {
    font-size: 2.5em;
  }
  .left-img {
    filter: brightness(40%);
    width: 100%;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 2%;
    height: 45vh;
    width: 80vw;
  }
}
/* Phone */
@media screen and (max-width: 640px) {
  /* General Styling */
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1em;
  }
  /* HEADER */
  nav .nav-links {
    display: none;
  }
  nav #nav-logo {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #mobile-menu {
    display: block;
  }
  .mobile-menu-link {
    color: #ffffff;
  }
  .bttn-style-purple,
  .bttn-style-orange {
    width: 70%;
    text-align: center;
    font-size: 25px;
    padding: auto;
  }
  .find-event-header {
    min-height: 73vh;
    max-height: 137vh;
  }
  .find-event-search {
    max-height: 71vh;
  }
  .home-row {
    padding: 3px;
  }
  .home-section .home-row .swiper-slide {
    width: 274px !important;
    margin-left: 0px !important;
    padding-left: 22px !important;
  }
  .home-section .MuiCardMedia-img {
    width: 100% !important;
    height: 46% !important;
  }
  .home-section .event-card {
    width: 276px !important;
    height: 230px !important;
  }
  .home-section .card-date,
  .home-section .card-location {
    font-size: 0.8em;
  }
  .home-section #ev-share {
    top: 42.5%;
    right: 11%;
  }
  .home-section .card-icon {
    width: 20px;
    height: 20px;
  }
  .home-section .MuiSvgIcon-fontSizeMedium {
    font-size: 0.8em;
    padding-bottom: 0px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: calc(var(--swiper-navigation-size) / 44 * 3);
  }
  .menu-footer {
    padding: 2% 1%;
    background-color: #000000;
    width: 98%;
    text-align: center;
    color: #ffffff;
  }
  .mobile-signup-logo {
    width: 60%;
    top: 20%;
    left: 20%;
  }
  .signup-left {
    gap: 3%;
    padding: 0;
  }
  .signup-left h1 {
    font-size: 2.5em;
    padding: 0 2%;
  }
  .signup-form {
    height: 50%;
  }
  .signup-form label {
    font-size: 0.9em;
  }
  footer {
    font-size: 12px;
    padding: 5% 1%;
  }
  .signup-second-page {
    min-height: 100%;
    height: 130%;
    max-height: 170%;
    gap: 1%;
    padding: 8% 0;
  }
  .signup-second-page-logo img {
    width: 25vh;
    margin: 2% 0;
  }
  .signup-second-page-logo h1 {
    margin: 2% 0;
    font-size: 2em;
  }
  .signup-second-page-form {
    width: 90%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .signup-second-page-form label {
    font-size: 1.1em;
  }
  .signup-second-page-form p {
    font-size: 1em;
  }
  .l-o-1 {
    display: none;
  }
  .l-o-2 {
    display: initial;
  }
  .right {
    padding: 4% 0;
  }
  .right h1 {
    margin-top: -10%;
  }
  /*PROFILE PAGE*/
  .profile-container {
    grid-template-areas: "head" "bio" "account" "events";
  }
  .profile-container .events-profile {
    height: auto;
  }
  .profile-box {
    padding: 2%;
  }
  .profile-avatar {
    height: 12vw;
    width: 12vw;
    font-size: 5vw;
  }
  .profile-banner h1 {
    font-size: 1.2em;
  }
  .css-o69gx8-MuiCardMedia-root {
    width: 10em !important;
    height: 7em !important;
  }
  .profile-container h3 {
    font-size: 0.7em;
  }
  p {
    font-size: 0.4em;
  }
  .card-name {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .horizontal-card {
    margin-bottom: 0;
    margin-top: 5%;
    height: 150px;
    min-height: 150px;
  }
  .horizontal-card-box {
    width: 130%;
  }
  .ev-share-h {
    bottom: 5%;
    right: 5%;
  }
  .ev-share-h {
    bottom: 5%;
    right: 5%;
  }
  .card-icon {
    width: 15px;
    height: 15px;
    padding: 0.5%;
  }
  .ev-bookmark-h {
    bottom: 5%;
    right: 20%;
  }
  .card-icon svg {
    font-size: 0.7em;
    padding-bottom: 2px;
  }
  .card-date svg,
  .card-location svg,
  .card-price svg {
    font-size: 1.3em;
  }
  /*DASHBOARD*/
  .bttn.style-orange {
    width: 45%;
    text-align: center;
    font-size: 18px;
    padding: auto;
  }
  .profile-container .saved-events #saved-events-header {
    display: flex;
    flex-direction: column;
  }
  .ev-menu-h {
    height: 13px;
  }
  .ev-menu-h svg {
    font-size: 1.6em;
    width: 1.5em;
    height: 1em;
  }
  /*CREATE EVENTS PAGE*/
  .create-event-screen h2 {
    margin: 0 12px 0 12px;
  }
  .create-event-media {
    margin-top: 20px;
  }
  /*EVENT PAGE*/
  .prev-date-time h3,
  .prev-location h3 {
    font-size: 0.9em;
  }
  .strong-string-prev {
    font-size: 9px;
  }
  #event-avatar {
    font-size: 28px;
    height: 80px;
    width: 80px;
  }
  #event-avatar h2 {
    font-size: 1em;
  }
  .event-prev-second-row .when-where-box,
  .event-prev-second-row .organiser-box {
    height: 65%;
  }
  .event-prev-second-row .event-prev-title {
    top: -26%;
  }
  .event-prev-third-row .event-prev-title-2 {
    top: -32%;
  }
  .pricing-box {
    height: 97%;
  }
}
/* Small Phone */
@media screen and (max-width: 480px) {
  /* HEADER */
  header {
    height: 3em;
  }
  .find-event-header {
    min-height: 100vh;
  }
  #nav-logo {
    padding-bottom: 2em;
  }
  #mobile-menu .MuiButtonBase-root {
    padding: 0 8px 8px 8px;
    margin-bottom: 15px;
  }
  .mobile-menu-box {
    width: 50vw;
  }
  #gigney-menu-logo {
    width: 52%;
  }
  #gigney-menu-logo img {
    width: 7em;
    height: 4em;
  }
  .mobile-menu-box h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  #menu-drawer .MuiDrawer-paper {
    width: 50%;
  }
  #loggedin-links-menu {
    font-size: 1em;
    margin: 5px 0 12px 0;
  }
  .mobile-menu-link {
    padding: 6px;
  }
  #menu-drawer .MuiDrawer-root {
    font-size: 0.4em;
  }
  .bttn-style-purple,
  .bttn-style-orange {
    width: 25vw;
    height: 3vw;
    padding: 3px 9px;
    font-size: 10px;
    margin: 5px;
  }
  .menu-footer {
    font-size: 0.3em;
  }
  /*FIND AN EVENT*/
  .find-event-search {
    padding: 10vh 0;
    max-height: 50vh;
  }
  #location-field-search {
    width: 100%;
  }
  .find-event-header-text {
    margin: 15% 0 0 0 !important;
    font-size: 45px !important;
  }
  #search-event-form .MuiInputBase-root {
    height: 40px;
    margin: 2% 0;
  }
  #search-event-form .MuiTextField-root {
    background-color: transparent !important;
  }
  #search-event-form .MuiOutlinedInput-root {
    background-color: #ffffff;
  }
  .search-form-els,
  #search-form-submit-btn {
    width: 100%;
  }
  #search-form-submit-btn {
    height: 40px;
  }
  #search-event-form .MuiChip-sizeMedium {
    text-align: center;
    font-size: 0.8em;
    height: 30px;
  }
  #search-event-form .MuiChip-labelMedium {
    height: 15px;
  }
  .find-event-tags {
    margin: 10px 0;
    width: 100%;
  }
  #events-txt-field {
    min-width: 50vw;
  }
  .home-row h1 {
    text-align: center;
  }
  .home-row .MuiCardMedia-root {
    width: 21em !important;
    height: 8em !important;
  }
  .home-row #ev-share,
  .home-row #ev-bookmark {
    top: 40.5%;
  }
  .home-row .MuiSvgIcon-root {
    width: 1em;
    height: 1.3em;
    font-size: 1em;
  }
  .home-row .card-icon {
    width: 20px;
    height: 20px;
  }
  .home-section {
    margin: 0px !important;
  }
  .home-section .home-row .swiper-slide {
    width: 291px !important;
    margin-left: 0px !important;
    padding-left: 97px !important;
  }
  .card-name {
    font-size: 21px;
  }
  .card-date,
  .card-location {
    font-size: 17px;
  }
  /*CREATE EVENTS PAGE*/
  #save-exit-ev-btn {
    padding: 5px 6px;
    margin: 10px;
    width: 13em;
    height: 2.5em;
  }
  #save-cont-ev-btn {
    padding: 5px 5px;
    width: 13em;
    height: 2.5em;
  }
  #show {
    padding: 3px 5px;
    width: 12em;
  }
  #stepper-box h2 {
    font-size: 0.8em;
  }
  #discard-ev-btn {
    font-size: 1em;
  }
  .create-event-screen h2 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 2em;
  }
  #create-event-description {
    font-size: 1em;
    padding: 7.5px 8px;
  }
  #create-event-name,
  #create-event-organiser,
  #create-event-eventURL,
  #create-event-an1 {
    font-size: 0.8em;
    padding: 7.5px 8px;
  }
  .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
    padding: 7.5px 7px;
    font-size: 0.8rem;
  }
  .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 0.1rem;
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    font-size: 0.5em;
  }
  .create-event-header {
    height: 26vh;
  }
  .create-event-header h1 {
    font-size: 2.2em;
  }
  .css-17clsp4-MuiPaper-root-MuiMobileStepper-root {
    width: 44%;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 0.6rem;
    min-height: 30px;
  }
  .css-yi3mkw {
    flex-wrap: nowrap;
  }
  .artist-and-summary .MuiGrid-container,
  .basic-information .MuiGrid-container,
  .create-event-location-div .MuiGrid-container,
  .create-event-screen .MuiGrid-container,
  .create-event-pricing .MuiGrid-container,
  #stepper-box,
  #discard-ev-btn {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    width: 100% !important;
    height: 100% !important;
    padding-left: 46px;
    min-width: 90%;
    padding-top: 0;
  }
  #stepper-box,
  #discard-ev-btn,
  #stepper-box h2 {
    align-items: center !important;
    padding: 0 !important;
    right: 0 !important;
    margin-top: 5px;
  }
  .create-event-pricing .MuiGrid-spacing-xs-1 {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    padding: 0px;
  }
  .create-event-pricing .MuiGrid-grid-xs-6,
  .artist-and-summary .MuiGrid-grid-xs-5,
  .artist-and-summary .MuiGrid-grid-xs-11 {
    padding-top: 0 !important;
  }
  .artist-and-summary .MuiGrid-item {
    width: 100% !important;
  }
  .create-event-location-div .MuiGrid-container {
    padding-left: 20px !important;
  }
  .artist-and-summary .MuiInputBase-multiline {
    width: 19em;
  }
  .basic-information .MuiInputBase-formControl {
    width: 21em !important;
  }
  .artist-and-summary .fab-container {
    flex-direction: row !important;
    justify-content: flex-end !important;
  }
  .create-event-pricing .fab-container-tickets {
    flex-direction: row !important;
    padding-top: 4px !important;
  }
  .create-event-pricing .add-artist-fab-disabled,
  .create-event-pricing .remove-artist-fab-disabled,
  .create-event-pricing .add-ticket-fab-disabled,
  .create-event-pricing .remove-ticket-fab-disabled,
  .create-event-pricing .add-artist-fab,
  .create-event-pricing .remove-artist-fab,
  .create-event-pricing .add-ticket-fab,
  .create-event-pricing .remove-ticket-fab {
    left: 8em !important;
  }
  #create-ev-summary {
    width: 50%;
  }
  .map-container {
    height: 18em;
    width: 30em;
    margin: 0px 30px 0px 30px;
  }
  .create-event-location-div .MuiOutlinedInput-notchedOutline,
  .artist-and-summary .MuiOutlinedInput-notchedOutline {
    width: 100%;
  }
  .create-event-location-div .MuiGrid-grid-xs-3 {
    padding-left: 0 !important;
    margin-bottom: 2px;
  }
  .create-event-location-div .MuiGrid-grid-xs-1,
  .create-event-location-div .MuiGrid-grid-xs-5 {
    padding-left: 0px !important;
    margin-bottom: 2px;
  }
  .create-event-pricing .form-label-active {
    margin: 2px;
  }
  .create-event-pricing .MuiOutlinedInput-root {
    height: 30px;
  }
  #create-ev-bttns,
  #create-ev-bttns-right,
  #create-ev-bttns-left {
    flex-direction: column;
  }
  /*SIGNUP PAGE*/
  .signup {
    height: 200vh;
  }
  .signup #signup-right-img {
    height: 35vw;
  }
  .mobile-signup-logo {
    width: 38%;
    top: 27%;
    left: 29%;
  }
  .signup-left h1 {
    font-size: 2em;
  }
  .signup-left {
    min-height: 70% !important;
  }
  .signup-form {
    height: 60%;
  }
  .signup-left .MuiInputLabel-root {
    line-height: 1em;
  }
  #demo-simple-select-label {
    color: #ffffff;
    text-shadow: -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000, -0.5px 0.5px 0 #000000, 0.5px 0.5px 0 #000000;
    font-size: 0.7em;
    top: -14px;
  }
  .signup-left #next-button {
    height: 2.5em;
  }
  .signup-left .MuiSelect-outlined {
    line-height: 1em;
    padding: 9.5px 9px;
  }
  .login-link {
    font-size: 0.8em;
  }
  .signup-left .signup-form {
    row-gap: 7em;
  }
  /*SIGNUP PAGE - ATTENDEE*/
  .signup-second-page-logo img {
    width: 59vh;
  }
  .signup-second-page {
    padding: 3% 0;
  }
  /*LOGIN PAGE*/
  .login-page {
    height: 198vh;
  }
  .left {
    height: 33%;
  }
  .right {
    margin-bottom: 110px;
  }
  .mobile-login-logo {
    top: 22%;
  }
  .right .login-form {
    row-gap: 0em;
  }
  .login-logo h1 {
    margin-bottom: 0px;
    margin-top: 0%;
  }
  .login-page footer {
    margin-top: 35px;
  }
  .right .MuiOutlinedInput-input {
    padding: 6px 14px;
  }
  /*RESET PASSWORD*/
  .reset-password h1 {
    font-size: 3em;
    text-align: center;
  }
  .reset-pwd-form p {
    font-size: 14px;
  }
  /*EVENT PAGE*/
  .event-prev-first-row h1 {
    font-size: 1.5em;
  }
  .event-prev-first-row .event-buy-button {
    padding: 8px 24px;
  }
  .event-prev-second-row .prev-date-time h3,
  .event-prev-second-row .prev-location h3 {
    font-size: 0.7em;
  }
  .event-prev-second-row .strong-string-prev {
    font-size: 0.4em;
  }
  .event-prev-second-row .when-where-box,
  .event-prev-second-row .organiser-box {
    height: 54%;
  }
  .event-prev-second-row .event-prev-title {
    top: -24%;
    font-size: 1em !important;
  }
  .event-prev-second-row #event-avatar {
    font-size: 26px;
    height: 60px;
    width: 60px;
  }
  .event-prev-second-row .organiser-box h2 {
    font-size: 0.9em;
  }
  .event-prev-fourth-row .create-prev-lineup h2 {
    font-size: 1em;
    top: -13%;
  }
}
/*LOADERS*/
.partial-loader {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
