// colors
$black: #000000;
$darkgrey: #8e8d8d;
$white: #ffffff;
$lightgrey: #e6e2e2;
$blue: #4b7cbe;
$lightblue: #4d7bbe;
$lightorange: #ef7f4e;
$orange1: #f58146;
$purple1: #7759a6;
$purple: #5b5be6;
$lightpurple: #9c9ced;
$darkblue: #3131b8;
$offwhite: #f5f5f5;
$border: #dfdfdf;

// mixins
@mixin flex-row($justify-content: space-around, $align-items: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-nav($justify-content: space-between, $align-items: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-column($justify-content: space-around, $align-items: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin interaction-expand-on-hover() {
  transform: scale(1.05);
  cursor: pointer;
}

// for selector inheritance, use @extend elementName
* {
  font-family: "Barlow", Arial, sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 1%;
  max-height: 8vh;
  background-color: $black;

  a {
    color: $white;
  }
}

a:hover {
  cursor: pointer;
  @include interaction-expand-on-hover();
}

nav {
  width: 100%;
  @include flex-nav;

  #nav-logo {
    width: 20vw;
    @include flex-row;
  }

  .nav-links {
    width: 50vw;
    @include flex-row;
    font-size: 1.2em;
  }
}

p {
  font-size: 12px;
}

h1 {
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: $orange1;
}

.MuiButton-contained {
  text-transform: initial !important;
  border-radius: 0 !important;
}

// *********************** HEADER ************************ //

.bttn-style-purple {
  border: 2px solid $purple1;
  padding: 12px 25px;
  font-weight: bold;
  color: $white;
}

.bttn-style-orange {
  border: 2px solid $orange1;
  background-color: $orange1;
  padding: 12px 25px;
  font-weight: bold;
  color: $black;
}

#mobile-menu {
  display: none;
}

.close-icon-btn {
  font-size: 4.5em;
  position: absolute;
}

#gigney-menu-logo {
  width: 50%;
  img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
}

#loggedin-links-menu {
  @include flex-column;
  height: 30%;
}

#loggedout-bttns-menu {
  @include flex-column;
  height: 20%;
  width: 100%;
}

.mobile-menu-box {
  @include flex-column(space-around, center);
  background-color: $black;
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  overflow: hidden;
  color: $white;
  padding: 5% 0 3% 0;
  h1 {
    font-size: 3em;
  }
}

.find-event-header {
  width: 90%;
  max-height: 30vw;
  text-align: center;
  background-image: url("https://gigney.s3.ap-southeast-2.amazonaws.com/frontend/Homepage-background.jpeg");
  padding: 3% 5%;
  background-size: cover;
  background-repeat: no-repeat;
}

.find-event-header-text {
  color: $white;
  font-size: 45px !important;
  font-weight: 700;
}

.find-event-tags {
  margin: auto;
  text-align: center;
  @include flex-row(center, center);
  flex-wrap: wrap;
  width: 90%;
  font-weight: 600;
  font-size: 14px;
}

.find-event-search {
  margin: auto;
  text-align: center;
  max-width: 85%;
}

#search-form-submit-btn {
  color: $black;
  background-color: $orange1;
  margin-left: -5%;
  width: 10%;
}

.find-event-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

#location-field-search {
  width: 22%;
}
#date-field-search {
  width: 18%;
}
#events-txt-field {
  width: 50%;
}

// *********************** LOGIN PAGE  ************************ //
.login-page {
  height: 90vh;
  width: 100%;
  @include flex-row;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.right {
  @include flex-column(center, center);
  width: 50%;
  height: 100%;
  gap: 5%;
  .login-logo {
    width: 100%;
    @include flex-column(start, center);
    padding: 0;
    img {
      width: 30%;
    }

    h1 {
      font-size: 3em;
    }
  }
}

.login-form {
  @include flex-column(space-around, left);
  gap: 2%;
  height: 18em;
  width: 34vw;

  p {
    font-size: 1em;
    margin-bottom: 0;
  }
}

.left-img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.forgot-btn {
  text-decoration: underline;
  text-align: center;
  color: $orange1;
  font-weight: bold;
}

.label {
  font-weight: bold;
  font-size: larger;
}

#login-btn {
  background-color: $orange1;
  margin: 4% 0;
  color: $black;
}

// *********************** SIGNUP PAGE ************************ //
.signup {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85vh;
}

.signup-left,
.signup-right {
  width: 50%;
  height: 100%;
}

.signup-left {
  @include flex-column(center, center);
  min-height: 100%;
  gap: 12%;
  padding: 5% 0 0 0;
  .signup-logo {
    width: 100%;
    @include flex-column;
    img {
      width: 30%;
    }
  }

  h1 {
    font-size: 3em;
  }
}

.signup-right {
  width: 50%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.signup-next-button {
  margin: auto;
  text-align: center;
  width: 100%;
}

#next-button {
  width: 60%;
  height: 3em;
  color: $black;
  background-color: $orange1;
  font-size: 1.1em;
}

.signup-form {
  height: 50%;
  width: 34vw;
  @include flex-column(center, center);

  label {
    font-size: 1.1em;
  }
}

.l-o-2 {
  display: none;
}

.dropdown-icon {
  margin-right: 2%;
}

.login-divert {
  text-decoration: underline;
  color: $orange1;
  font-weight: bold;
}

#demo-simple-select {
  background-color: $purple1;
}

#demo-simple-select-label {
  color: $white;
}

.mobile-signup-logo,
.mobile-login-logo {
  display: none;
}

// *********************** SIGNUP GUEST ************************ //

.signup-second-page {
  @include flex-column(start, center);
  width: 100%;
  height: 110vh;
  gap: 10%;
  padding: 5% 0 0 0;
}

.signup-second-page-logo {
  width: 100%;
  @include flex-column;
  img {
    width: 30vh;
  }
  h1 {
    margin: 2% 0 0 0;
    font-size: 3em;
  }
}

.signup-second-page-form {
  width: 90%;
  max-height: 60%;
  @include flex-column;

  label {
    font-size: 1.1em;
  }

  p {
    font-size: 1em;
  }
}

.signup-submit {
  width: 90%;
}

.login-link,
.link-organizer {
  a {
    text-decoration: underline;
    color: $orange1;
    font-weight: bold;
    margin: 0 0.5%;
  }
  text-align: center;
  width: 100%;
}

// *********************** SIGNUP ORGANISER ************************ //

.organiser {
  color: $white;
  text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black,
    1px 1px 0 $black;
}

.link-organizer {
  padding-top: 6%;
}

// *********************** FOOTER ************************ //
footer {
  padding: 2% 1%;
  background-color: $black;
  bottom: 0;
  left: 0;
  right: 0;
  width: 98%;
  text-align: center;
  color: $white;
}

#footer-tou {
  text-decoration: underline;
}

#footer-privpol {
  text-decoration: underline;
}

// *********************** SEARCH RESULTS PAGE ************************ //
.search-results-grid {
  min-height: 90vh;
  display: grid;
  grid-template-areas: "filters results";
  grid-template-columns: 35% 65%;

  .search-filters {
    grid-area: filters;
    margin: 2em;

    .filter-box {
      @include flex-column(justify-content, left);
      height: 100%;
      width: 100%;
      padding: 5%;
      background-color: $white;
      div {
        padding: 1%;
      }
    }
  }

  .search-results {
    grid-area: results;
    margin: 2em;
  }

  #price-select-box {
    width: 95%;
    padding: 5%;
    margin: 5% 0 0 -2%;
    background-color: $lightgrey;
  }

  .search-filters-top {
    width: 90%;
    padding: 3%;
    background-color: $white;
  }

  .events-result {
    height: 91%;
    width: 96%;
    @include flex-column(flex-start, flex-start);
    gap: 2%;
    padding: 4% 0;
  }

  #view-more-tags {
    margin: 2%;
  }
}

// *********************** PROFILE PAGE & ORGANIZER DASHBOARD ************************ //

.profile-container {
  min-height: 1000px;
  max-height: 2500px;
  display: grid;
  grid-template-areas:
    "head head"
    "bio events"
    "account events";
  grid-template-rows: 100px fit-content(300px) fit-content(400px);
  grid-template-columns: 30% 70%;
  background-color: $lightgrey;

  #save-pwd-btn {
    background-color: $orange1;
    margin: 10% 0 0 0;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  .profile-banner {
    grid-area: head;
    background-color: $lightblue;
    @include flex-row;
    background: linear-gradient(90deg, $lightblue 23%, $lightorange 100%);
    h1 {
      color: $white;
      font-size: 2em;
    }
  }
  .personal-bio {
    grid-area: bio;
    margin: 2em;
  }
  .account-settings {
    grid-area: account;
    margin: 2em;
  }
  .saved-events {
    grid-area: events;
    margin: 2em;

    #saved-events-header {
      @include flex-row(space-between, center);
    }
  }

  h1 {
    margin-left: 0;
    margin-bottom: 2%;
  }

  .profile-box {
    padding: 5%;
    position: relative;
    background-color: $white;
  }

  .prof-center {
    @include flex-column;
    p {
      text-align: center;
    }
  }

  .prof-left {
    @include flex-column(space-around, left);

    #delete-account-profile {
      margin-top: 20%;
    }
  }

  .profile-avatar {
    height: 20vw;
    width: 20vw;
    background-color: $lightblue;
    font-size: 9vw;
    font-weight: bold;
  }

  .edit-note {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }

  .edit-note:hover {
    transform: scale(1.1);
  }

  .events-profile {
    height: 100%;
    width: 100%;
  }
}

// *********************** HOMEPAGE ************************ //
.home-section {
  padding-bottom: 30px;
  background-color: $offwhite;
}

.card-name {
  font-size: 22px;
  font-weight: 700;
}

.card-date {
  font-weight: 500;
}

.css-1oe4rwd-MuiSvgIcon-root {
  color: $blue;
  margin-bottom: -3px;
}

.css-o69gx8-MuiCardMedia-root {
  width: 360px !important;
  height: 223px !important;
}

#search-event-form > div.find-event-search > span > button {
  background-color: $orange1;
}

.search-form-els {
  height: 54px;
  background-color: $white;
}

#events-txt-field {
  min-width: 27vw;
}

.home-row {
  padding: 15px;
}

// *********************** EVENT CARDS *********************** //
.event-card {
  width: 350px;
  height: 400px;
  position: relative;
  margin: 2%;
}

#card-name-link {
  text-decoration: none;
}

.card-icon:hover,
.card-icon-selected:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-icon,
.card-icon-selected {
  padding: 2%;
  border-radius: 50%;
  text-align: center;
  position: absolute;
}

.card-icon {
  background-color: $orange1;
  color: $white;
  width: 23px;
  height: 23px;
}

.card-icon-selected {
  background-color: $white;
  color: $orange1;
  border: solid 3px $orange1;
  width: 21.5px;
  height: 21.5px;
}

#ev-share {
  top: 51.5%;
  right: 20%;
}

#ev-bookmark {
  top: 51.5%;
  right: 5%;
}

#ev-bookmark-selected {
  top: 51%;
  right: 5%;
}

#bookmark-show {
  display: initial;
}

#bookmark-hide {
  display: none;
}

.horizontal-card-box {
  width: 130%;
  position: relative;
  padding-left: 3%;
}

.horizontal-card {
  position: relative;
  width: 100%;
  height: 220px;
  min-height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
  margin-bottom: 3%;

  .MuiCardMedia-root {
    width: 45% !important;
    min-width: 45%;
    height: 100% !important;
  }
}

.ev-share-h {
  bottom: 10%;
  right: 5%;
}

.ev-bookmark-h {
  bottom: 10%;
  right: 20%;
}

.ev-menu-h {
  bottom: 14.5%;
  right: 5%;
  position: absolute;
  width: 23px;
  height: 23px;
  padding: 2%;
}

.ev-menu-h:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.ev-share-h-2 {
  bottom: 10%;
  right: 15%;
}

// *********************** CREATE EVENT *********************** //

#create-event-main {
  background-color: $offwhite;
  padding-bottom: 1%;

  p {
    font-size: 16px;
  }
}

.create-event-screen {
  max-width: 100%;
  min-height: 65vh;
  max-height: 1000px;
  background-color: $white;
  padding: 2%;
  margin: 2%;
  h2 {
    font-size: 2em;
  }
}

#create-ev-bttns {
  @include flex-row(space-between, center);
  div {
    width: 30%;
    gap: 5%;
  }
}

#create-ev-bttns-left {
  @include flex-row(left, center);
}

#create-ev-bttns-right {
  @include flex-row(right, center);
}

#save-cont-ev-btn,
#skip-ev-btn,
#disable-ev-btn,
#disable-ev-btn-show,
#save-publish-ev-btn {
  background-color: $orange1;
  color: $black;
  border: solid 2px $orange1;
}

#show {
  display: initial;
}

#hide {
  display: none;
}

#save-exit-ev-btn,
#save-ex-ev-btn,
#hide,
#show {
  background-color: $white;
  color: $purple1;
  border: solid 2px $purple1;
}

#stepper-box {
  width: 100%;
  height: 10%;
  @include flex-row(center, center);
  gap: 4%;
  position: relative;
}

.MuiLinearProgress-root {
  width: 100% !important;
  height: 15px !important;
  background-color: $white !important;
  border: solid 1px $black;
}

.MuiMobileStepper-root {
  padding: 0 0 0 0 !important;
}

#discard-ev-btn {
  position: relative;
  right: 2%;
  font-size: 1.2em;
  text-decoration: underline;
  color: $orange1;
}

.create-event-header {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, $lightblue 23%, $lightorange 100%);
}
.create-event-header h1 {
  font-size: 3em;
  color: $white;
  text-shadow: rgb(40, 39, 39) 1px 1px 4px;
}
.create-event-screen h2 {
  font-size: 3em;
}

.css-12z1287-MuiGrid-root p,
.css-1f064cs-MuiGrid-root p,
.css-1qeq9aw-MuiGrid-root p {
  font-size: 18px;
}

#create-event-description {
  font-size: 1.5em;
  padding: 13px;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  height: 50px;
}

.css-suj22h-MuiChip-root {
  font-size: 1.5rem;
  height: 30px;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 1rem;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-size: 2rem;
}

.create-event-stepper {
  padding: 2% 3% 1% 3%;
  max-width: 94%;
}

.form-label-disabled {
  color: $darkgrey;
}

.form-label-active {
  color: $black;
}

.add-artist-fab,
.remove-artist-fab,
.add-ticket-fab,
.remove-ticket-fab {
  width: 20px !important;
  height: 20px !important;
  min-height: 20px !important;
  background-color: $white !important;
  border: solid 2px $orange1 !important;
  .MuiSvgIcon-root {
    color: $orange1 !important;
  }
}

.remove-artist-fab-disabled,
.add-artist-fab-disabled,
.add-ticket-fab-disabled,
.remove-ticket-fab-disabled {
  width: 20px !important;
  height: 20px !important;
  min-height: 20px !important;
  background-color: $lightgrey !important;
  border: solid 2px $darkgrey !important;
  cursor: default !important;

  .MuiSvgIcon-root {
    color: $darkgrey !important;
  }
}

.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 7%;
  padding-bottom: 0.2%;
}

.fab-container-tickets {
  display: flex;
  flex: row;
  justify-content: flex-end;
  gap: 1%;
}

.add-artist-fab:hover,
.remove-artist-fab:hover,
.add-ticket-fab:hover,
.remove-ticket-fab:hover {
  @include interaction-expand-on-hover();
}
.create-event-location-div {
  height: 1000px;
}

.map-container {
  height: 400px;
}

.create-ev-img-box {
  width: 100%;
  height: 60vh;
  background-color: $lightgrey;
  @include flex-row(center, center);
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

#create-ev-img-input {
  display: none;
}

#remove-img-box {
  width: 100%;
  padding: 1.5% 0 0;
  @include flex-row(flex-end, center);
}

// *********************** EVENT  && EVENT PREVIEW *********************** //

.prev-event-body {
  display: block;
}

.event-prev-card-icon-share,
.event-prev-card-icon-bookmark {
  border-radius: 50%;
  background-color: $orange1;
  width: 50px;
  height: 50px;
  @include flex-row(center, center);
}

.event-buy-button {
  margin-right: 0px;
  margin-top: 20px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: $orange1;
  color: $black;
  font-weight: bold;
}

.event-prev-card-icon-share {
  position: absolute;
  right: 8%;
  top: 465px;
}

.event-prev-card-icon-bookmark {
  position: absolute;
  right: 4%;
  top: 465px;
}

.event-preview-screen {
  max-height: fit-content;
  height: fit-content;
  min-height: 1600px;
  padding: 2% 1%;
}

.event-preview {
  background-color: $white;
  padding: 1% 2%;
  height: 90%;
  position: relative;
}

.event-main-image {
  height: 400px;
  min-height: 400px;
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.event-prev-first-row {
  @include flex-row(space-between, center);
  height: 140px;
  width: 98%;
  button:hover {
    @include interaction-expand-on-hover();
  }
  h1 {
    font-size: 36px;
  }
}

.outlined {
  border: solid 1px $lightgrey;
  position: relative;
  margin-top: 5%;
}

.icon-title {
  @include flex-row(flex-start, center);
  gap: 2%;
}

.horizontal-stack {
  height: 80%;
  width: 100%;
  padding: 3% 0%;
}

.prev-date-time {
  width: 40%;
  padding: 0 4%;
}

.prev-location {
  width: 60%;
  padding: 0 3%;
}

.event-prev-title {
  position: absolute;
  background-color: $white;
  top: -18%;
  left: 4%;
  width: fit-content;
  height: fit-content;
}

.event-prev-title-2 {
  position: absolute;
  background-color: $white;
  top: -22%;
  left: 3%;
  width: fit-content;
  height: fit-content;
}

.event-prev-second-row {
  @include flex-row(center, center);
  width: 100%;
  height: 200px;
  gap: 3%;

  .when-where-box {
    width: 68%;
    height: 100%;
  }

  .organiser-box {
    width: 30%;
    height: 100%;
    @include flex-row(flex-start, center);
    padding-left: 2%;
    gap: 7%;
  }
}

.strong-string-prev {
  font-size: 16px;
  padding-left: 11%;
  color: $orange1;
  font-weight: 500;
}

#event-avatar {
  font-size: 30px;
  height: 100px;
  width: 100px;
  background-color: $lightblue;
}

.event-prev-third-row {
  width: 100%;
  height: 180px;
}

.pricing-box {
  height: 100%;
  width: 100%;
  @include flex-row(center, center);
}

.event-prev-price {
  width: 25%;
  max-width: 50%;
  padding: 1% 3%;
  p {
    font-size: 15px;
    padding: 0 10%;
  }
}

.event-prev-fourth-row {
  @include flex-row(space-between, center);
  width: 100%;
  min-height: fit-content;
  height: 200px;
  max-height: fit-content;
  margin: 2% 0;
  p {
    font-size: 15px;
  }
}

.create-prev-about {
  width: 75%;
  height: 100%;
  padding-right: 5%;
}

.create-prev-lineup {
  width: 25%;
  height: 100%;
  ul {
    margin-top: 10%;
    li {
      margin-top: 5%;
    }
  }
}

.event-prev-fifth-row {
  width: 100%;
  height: 200px;
  @include flex-row(space-between, center);
}

.event-prev-tags {
  div {
    width: 100%;
    @include flex-row(flex-start, center);
    gap: 2%;
  }
}

.event-prev-end-bttns {
  @include flex-row(flex-end, center);
  gap: 2%;
  height: 100px;
}

/* CONTENT PAGES */
.content-body {
  margin: 15px;
  margin-bottom: 30px;
}

// *********************** MEDIA QUERIES *********************** //

/* Tablet */
@media screen and (max-width: 960px) {
  /* General Styling */

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  /* Event && Event Preview */

  .event-buy-button {
    margin: 10px auto;
  }

  /* HEADER */
  nav {
    .nav-links {
      width: 65vw;
      font-size: 0.8em;
    }
  }

  .find-event-header {
    max-height: 40vw;
  }

  .find-event-search {
    width: 90vw;
    max-width: 90vw;
  }

  #location-field-search {
    width: 20%;
  }
  #date-field-search {
    width: 15vw;
  }
  #events-txt-field {
    width: 40%;
  }

  .bttn-style-orange {
    padding: 6px 8px;
}

.bttn-style-purple {
  padding: 6px 15px;
}
  /*PROFILE PAGE*/
  .profile-container {
    grid-template-areas:
      "head head"
      "bio bio"
      "account account"
      "events events";
    grid-template-rows: 100px fit-content fit-content fit-content;
    grid-template-columns: 100%;
  }

  .profile-box {
    padding: 2%;
  }

  .profile-avatar {
    height: 15vw;
    width: 15vw;
    font-size: 6vw;
  }

  .profile-banner h1 {
    font-size: 1.5em;
  }

  .profile-container h3 {
    font-size: 1em;
  }

  .css-1sx3qbl-MuiSvgIcon-root,
  .css-pnaxc6-MuiSvgIcon-root {
    font-size: 0.7em;
    padding-bottom: 2px;
  }

  /*CREATE EVENTS PAGE*/

  .create-event-header h1 {
    font-size: 2.2em;
  }

  #save-exit-ev-btn {
    width: 11em;
    height: 4em;
    text-align: center;
    font-size: 0.8em;
  }

  #save-cont-ev-btn {
    width: 13em;
    height: 4em;
    text-align: center;
    font-size: 0.8em;
  }
  #create-ev-bttns-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #create-ev-bttns div {
    width: 50%;
    gap: 5%;
  }

  #stepper-box {
    justify-content: left;
    gap: 5%;
  }

  #stepper-box h2 {
    padding-left: 10px;
  }
  .create-event-screen h2 {
    text-align: center;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font-size: 5em;
  }

  .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    height: 25px;
  }

  .css-suj22h-MuiChip-root {
    height: 18px;
  }

  .css-6od3lo-MuiChip-label {
    padding-left: 10px;
    padding-right: 9px;
    height: 10px;
    font-size: 0.8em;
    padding-top: 8px;
  }
}

/* Small Tablet */
@media screen and (max-width: 800px) {
  /* HEADER */
  header {
    padding: 3%;
  }

  nav {
    .nav-links {
      width: 75vw;
    }
  }

  .bttn-style-purple,
  .bttn-style-orange {
    padding: 8px 20px;
  }

  .find-event-header {
    max-height: 60vh;
  }

  .find-event-search {
    @include flex-column(space-between, center);
    width: 80%;
    min-height: 30vh;
    max-height: 40vh;
  }

  .find-event-tags {
    min-height: 20%;
    height: 30%;
  }

  .search-form-els,
  #search-form-submit-btn {
    width: 100%;
    margin: 0;
  }

  #location-field-search {
    width: 100%;
  }

  /* SIGNUP PAGE */
  .signup {
    flex-direction: column-reverse;
    height: 100vh;
  }
  .signup-left,
  .signup-right {
    width: 100%;
  }

  .signup-right {
    min-height: 30%;
  }

  #signup-right-img {
    filter: brightness(40%);
  }

  .signup-left {
    @include flex-column(center, center);
    min-height: 60%;
    height: 60%;
    .signup-logo {
      img {
        display: none;
      }
    }
  }

  .signup-form {
    height: 70%;
    width: 80vw;
  }

  #next-button {
    width: 100%;
    height: 3em;
  }

  .mobile-signup-logo,
  .mobile-login-logo {
    display: block;
    position: absolute;
    width: 50%;
    top: 15%;
    left: 25%;

    .signup-logo-img,
    .login-logo-img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
      filter: brightness(0) invert(1);
    }
  }

  /* LOGIN */
  .login-page {
    @include flex-column(center, center);
    gap: 0;
    width: 100vw;
    max-height: 110vw;
    height: 95vh;
    min-height: 95vh;
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    height: 40%;
  }

  .right {
    height: 60%;
    .login-logo {
      img {
        display: none;
      }

      h1 {
        font-size: 2.5em;
      }
    }
  }

  .left-img {
    filter: brightness(40%);
    width: 100%;
  }

  .login-form {
    @include flex-column(left, left);
    gap: 2%;
    height: 45vh;
    width: 80vw;
  }
}

/* Phone */
@media screen and (max-width: 640px) {
  /* General Styling */
  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1em;
  }

  /* HEADER */
  nav {
    .nav-links {
      display: none;
    }
    #nav-logo {
      width: 40vw;
      @include flex-row;
    }
  }

  #mobile-menu {
    display: block;
  }

  .mobile-menu-link {
    color: $white;
  }

  .bttn-style-purple,
  .bttn-style-orange {
    width: 70%;
    text-align: center;
    font-size: 25px;
    padding: auto;
  }

  .find-event-header {
    min-height: 73vh;
  }

  // FOOTER
  .menu-footer {
    padding: 2% 1%;
    background-color: $black;
    width: 98%;
    text-align: center;
    color: $white;
  }

  //SIGNUP
  .mobile-signup-logo {
    width: 60%;
    top: 20%;
    left: 20%;
  }

  .signup-left {
    gap: 3%;
    padding: 0;
    h1 {
      font-size: 2.5em;
      padding: 0 2%;
    }
  }

  .signup-form {
    height: 50%;
    label {
      font-size: 0.9em;
    }
  }

  footer {
    font-size: 12px;
    padding: 5% 1%;
  }

  .signup-second-page {
    min-height: 100%;
    height: 130%;
    max-height: 170%;
    gap: 1%;
    padding: 8% 0;
  }

  .signup-second-page-logo {
    img {
      width: 25vh;
      margin: 2% 0;
    }
    h1 {
      margin: 2% 0;
      font-size: 2em;
    }
  }

  .signup-second-page-form {
    width: 90%;
    max-height: 100%;
    @include flex-column;

    label {
      font-size: 1.1em;
    }

    p {
      font-size: 1em;
    }
  }

  .l-o-1 {
    display: none;
  }

  .l-o-2 {
    display: initial;
  }

  .right {
    padding: 4% 0;
    h1 {
      margin-top: -10%;
    }
  }

  /*PROFILE PAGE*/
  .profile-container {
    grid-template-areas:
      "head"
      "bio"
      "account"
      "events";
    .events-profile {
      height: auto;
    }
  }

  .profile-box {
    padding: 2%;
  }

  .profile-avatar {
    height: 12vw;
    width: 12vw;
    font-size: 5vw;
  }

  .profile-banner h1 {
    font-size: 1.2em;
  }

  .css-o69gx8-MuiCardMedia-root {
    width: 10em !important;
    height: 7em !important;
  }

  .profile-container h3 {
    font-size: 0.7em;
  }

  p {
    font-size: 0.4em;
  }

  .card-name {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .horizontal-card {
    margin-bottom: 0;
    margin-top: 5%;
    height: 150px;
    min-height: 150px;
  }

  .horizontal-card-box {
    width: 130%;
  }

  .ev-share-h {
    bottom: 5%;
    right: 5%;
  }

  .ev-share-h {
    bottom: 5%;
    right: 5%;
  }
  .card-icon {
    width: 15px;
    height: 15px;
    padding: 0.5%;
  }

  .ev-bookmark-h {
    bottom: 5%;
    right: 20%;
  }

  .card-icon svg {
    font-size: 0.7em;
    padding-bottom: 2px;
  }

  .card-date svg,
  .card-location svg,
  .card-price svg {
    font-size: 1.3em;
  }

  /*DASHBOARD*/
  .bttn.style-orange {
    width: 45%;
    text-align: center;
    font-size: 18px;
    padding: auto;
  }

  .profile-container .saved-events #saved-events-header {
    display: flex;
    flex-direction: column;
  }

  .ev-menu-h {
    height: 13px;
  }

  .ev-menu-h svg {
    font-size: 1.6em;
    width: 1.5em;
    height: 1em;
  }

  /*CREATE EVENTS PAGE*/

.create-event-screen h2{
  margin: 0 12px 0 12px;
}

.create-event-media{
  margin-top: 20px;
}
}

/* Small Phone */
@media screen and (max-width: 480px) {
  /* HEADER */
  header{
    height: 3em;
  }
  .find-event-header {
    min-height: 100vh;
  }

  .find-event-search {
    width: 90%;
    min-height: 35vh;
  }

  #nav-logo{
    padding-bottom: 2em;
  }

  #mobile-menu .MuiButtonBase-root{
    padding: 0 8px 8px 8px;
    margin-bottom: 15px;
  }

  .mobile-menu-box {
    width: 50vw;
  }
  #gigney-menu-logo {
    width: 52%;
}
  #gigney-menu-logo img{
    width: 7em;
    height: 4em;
  }
  .mobile-menu-box h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 0px;
}

#menu-drawer .MuiDrawer-paper{
  width: 50%;
}

#loggedin-links-menu {
  font-size: 1em;
  margin: 5px 0 12px 0;
}

.mobile-menu-link{
  padding: 6px;
}

#menu-drawer .MuiDrawer-root{
  font-size: 0.4em;
}

.bttn-style-purple, 
.bttn-style-orange {
  width: 25vw;
  height: 3vw;
  padding: 3px 9px;
  font-size: 10px;
  margin: 5px;
}

.menu-footer{
  font-size: 0.3em;
}

/*FIND AN EVENT*/

#location-field-search{
  justify-content: center;
  align-items: center;
  width: 98%;
}

.find-event-header-text{
  margin: 0;
  font-size: 35px !important;
}

#search-event-form .MuiInputBase-root {
  height: 29px;
  margin: 3px;
}

#search-event-form .MuiTextField-root{
  background-color: transparent !important;
}

#search-event-form .MuiOutlinedInput-root{
  background-color: $white;
  padding: 0 13px;
}

#search-event-form .find-event-search{
  padding-top: 2px;
}

.search-form-els, #search-form-submit-btn{
  width: 87%;
}
#search-form-submit-btn{
  height: 24px;
  margin: 5px;
}

#search-event-form .MuiChip-sizeMedium{
  text-align: center;
  font-size: 0.5em;
  height: 16px;
}
#search-event-form .MuiChip-labelMedium{
  height: 15px;
}

.find-event-tags{
  margin: 25px;
}

#events-txt-field {
  min-width: 50vw;
}

.home-row h1{
  text-align: center;
}

.home-row .MuiCardMedia-root{
  width: 27em !important;
  height: 13em !important;
}

.home-row #ev-share,
.home-row #ev-bookmark{
  top: 40.5%;
}

.home-row .MuiSvgIcon-root{
  width: 1em;
  height: 1.3em;
  font-size: 1em;
}

.home-row .card-icon{
  width: 20px;
  height: 20px;
}

.card-name{
  font-size: 27px;
}

.card-date,
.card-location {
  font-size: 17px;
}

  /*CREATE EVENTS PAGE*/
  #save-exit-ev-btn {
    padding: 5px 6px;
    margin: 10px;
    width: 13em;
    height: 2.5em;
  }

  #save-cont-ev-btn {
    padding: 5px 5px;
    width: 13em;
    height: 2.5em;
  }

  #show{
    padding: 3px 5px;
    width: 12em;
  }

  #stepper-box h2 {
    font-size: 0.8em;
  }

  #discard-ev-btn {
    font-size: 1em;
  }
  .create-event-screen h2 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 2em;
  }

  #create-event-description {
    font-size: 1em;
    padding: 7.5px 8px;
  }

  #create-event-name,
  #create-event-organiser,
  #create-event-eventURL,
  #create-event-an1
   {
    font-size: 0.8em;
    padding: 7.5px 8px;
  }

  .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
    padding: 7.5px 7px;
    font-size: 0.8rem;
  }

  .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 0.1rem;
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    font-size: 0.5em;
  }

  .create-event-header {
    height: 26vh;
  }
  .create-event-header h1 {
    font-size: 2.2em;
  }

  .css-17clsp4-MuiPaper-root-MuiMobileStepper-root {
    width: 44%;
  }

  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 0.6rem;
    min-height: 30px;
  }

  .css-yi3mkw {
    flex-wrap: nowrap;
  }

  .artist-and-summary .MuiGrid-container,
  .basic-information .MuiGrid-container,
  .create-event-location-div .MuiGrid-container,
  .create-event-screen .MuiGrid-container,
  .create-event-pricing .MuiGrid-container,
  #stepper-box,
  #discard-ev-btn{
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    width: 100% !important;
    height: 100% !important;
    padding-left: 46px;
    min-width: 90%;
    padding-top: 0;
  }

  #stepper-box,
  #discard-ev-btn,
  #stepper-box h2{
    align-items: center !important;
    padding: 0 !important;
    right: 0 !important;
    margin-top: 5px;
  }

  .create-event-pricing .MuiGrid-spacing-xs-1{
    flex-direction: row !important;
    flex-wrap: wrap !important;
    padding: 0px;
  }

  .create-event-pricing .MuiGrid-grid-xs-6,
  .artist-and-summary .MuiGrid-grid-xs-5,
  .artist-and-summary .MuiGrid-grid-xs-11{
    padding-top: 0 !important;
  }

  .artist-and-summary .MuiGrid-item{
    width: 100% !important;
  }

  .create-event-location-div .MuiGrid-container{
    padding-left: 20px !important;
  }

  .artist-and-summary .MuiInputBase-multiline{
    width: 19em;
  }
  .basic-information .MuiInputBase-formControl{
    width: 21em !important;
  }

  .artist-and-summary .fab-container{
    flex-direction: row !important;
    justify-content: flex-end !important;
  }

  .create-event-pricing .fab-container-tickets{
    flex-direction: row !important;
    padding-top: 4px !important;
  }

  .create-event-pricing .add-artist-fab-disabled,
  .create-event-pricing .remove-artist-fab-disabled,
  .create-event-pricing .add-ticket-fab-disabled, 
  .create-event-pricing .remove-ticket-fab-disabled,
  .create-event-pricing .add-artist-fab, 
  .create-event-pricing .remove-artist-fab, 
  .create-event-pricing .add-ticket-fab, 
  .create-event-pricing .remove-ticket-fab{
    left: 8em !important;
  }

  #create-ev-summary{
    width: 50%
  }
  .map-container {
    height: 18em;
    width: 30em;
    margin: 0px 30px 0px 30px;
  }

  .create-event-location-div .MuiOutlinedInput-notchedOutline,
  .artist-and-summary .MuiOutlinedInput-notchedOutline{
    width: 100%;
  }
  .create-event-location-div .MuiGrid-grid-xs-3{
    padding-left: 0 !important;
    margin-bottom: 2px;
  }
  .create-event-location-div .MuiGrid-grid-xs-1,
  .create-event-location-div .MuiGrid-grid-xs-5 {
    padding-left: 0px !important;
    margin-bottom: 2px;
  }

  .create-event-pricing .form-label-active{
    margin: 2px;
  }

  .create-event-pricing .MuiOutlinedInput-root{
    height: 30px;
  }

  #create-ev-bttns,
  #create-ev-bttns-right,
  #create-ev-bttns-left {
    flex-direction: column;
  }

  /*SIGNUP PAGE*/

  .signup {
    height: 200vh;
  }
  .signup #signup-right-img {
    height: 35vw;
  }

  .mobile-signup-logo {
    width: 38%;
    top: 27%;
    left: 29%;
}

.signup-left h1 {
  font-size: 2em;
}

.signup-left{
  min-height: 70% !important;
}

.signup-form {
  height: 60%;
}

.signup-left .MuiInputLabel-root{
  line-height: 1em;
}

#demo-simple-select-label{
color: $white;
text-shadow: -0.5px -0.5px 0 $black, 0.5px -0.5px 0 $black, -0.5px 0.5px 0 $black,
0.5px 0.5px 0 $black;
  font-size: 0.7em;
  top: -14px;
}

.signup-left #next-button{
  height: 2.5em;
}

.signup-left .MuiSelect-outlined{
  line-height: 1em;
  padding: 9.5px 9px;
}

.login-link {
  font-size: 0.8em;
}
.signup-left .signup-form{
  row-gap: 7em;
}

 /*SIGNUP PAGE - ATTENDEE*/
 .signup-second-page-logo img {
  width: 59vh;
 }
 .signup-second-page {
  padding: 3% 0;
}

/*LOGIN PAGE*/
.login-page{
  height: 198vh;
}

.left {
  height: 33%;
}

.right{
  margin-bottom: 110px;
}

.mobile-login-logo {
  top: 22%;
}

.right .login-form{
  row-gap: 0em;
}

.login-logo h1{
  margin-bottom: 0px;
  margin-top: 0%;
}

.login-page footer{
  margin-top: 35px;
}

.right .MuiOutlinedInput-input{
  padding: 6px 14px;
}
}
