// colors 
$black: #000000;
$white: #ffffff;
$blue: #5B5BE6;

// mixins
@mixin flex-row($justify-content:space-around, $align-items:center){
    display:flex;
    flex-direction:row;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-column($justify-content:space-around, $align-items:center){
    display:flex;
    flex-direction:column;
    justify-content: $justify-content;
    align-items: $align-items;
}

// for selector inheritance, use @extend elementName


body {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 10px;
    background-color: $blue;

    a {
        color:$white;
    }
}

nav {
    width: 100%;
    @include flex-row;

    #nav-logo{
        width: 15%;
    }
}

p { 
    font-size: 12px;
}

h1 {
    font-size: 30px;
    margin:4%;
}

a {
    text-decoration: none;
}

/* LOGIN PAGE */
.login-form{
    @include flex-column(space-around, left);
    gap: 2%;
    height: 13em;
    width: 20em;
    margin-left: 4%;
}

/* SIGNUP PAGE */
.signup-form{
    @include flex-column(space-around, left);
    gap: 2%;
    height: 13em;
    width: 20em;
    margin-left: 4%;
}

/* RESET PASSWORD */
.reset-pwd-form{
    @include flex-column(space-around, left);
    gap: 2%;
    height: 10em;
    width: 20em;
    margin-left: 4%;
}

/* FOOTER */
footer {
    padding: 20px 10px;
    background-color:  lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    @include flex-row;

    a{
        color: $blue;
    }
}

/* USERPAGE */

.user-container{
    margin: 4%;
    h1{
        margin-left:0;
        margin-bottom:2%;
    }
}

.user-links{
    width:18em;
    height:3em;
    @include flex-row(space-between, center);
}

.user-link-active {
    background-color: $blue;
    color: $white;
    padding: 2%;
    border-radius: 3px;
}

/* EDIT PROFILE */
.edit-links{
    width:25em;
    height:3em;
    @include flex-row(space-between, center);
}

/* HOMEPAGE */
.find-event-header{
    width: 100%;
    text-align: center;
}
.find-event-search, .find-event-tags{
    @include flex-row;
    margin: 5% 2%;
}
.search-form-els{
    min-height: 56px;
}
